

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container .stopwatch {
    display: flex;
    align-content: center;
    justify-content: center; 
}

.container .stopwatch p {
    font-size: 50px;
}